.navbar {
  position: fixed;
  top: 0px;
  z-index: 50;
  height: 55px;
  width: 100vw;
  background-color: rgb(255, 255, 255);
}
.navbar-containter {
  position: fixed;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 80vw;
  height: 35px;
  margin-left: 10%;
  border-bottom: 0.5px solid rgb(207, 207, 207);
  background-color: rgb(255, 255, 255);
}

.logo {
  font-family: "Poiret One", sans-serif;
  font-style: normal;
  font-size: larger;
  padding-left: 20px;
  padding-right: 10px;
  cursor: pointer;
}

.navbuttons {
  cursor: pointer;
  padding-top: 6px;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  font-style: normal;
}

.navbuttons:hover {
  color: rgb(70, 70, 70);
  text-decoration: underline;
}

.ml-auto {
  margin-left: auto;
}
.end {
  padding-right: 25px;
}
.menu-btn {
  width: 40px;
  height: 40px;
  visibility: hidden;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 50;
}
.dropdown {
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  height: 100%;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-out;
}
.unhide {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

@media (max-width: 1100px) {
  .navbuttons {
    display: none;
    font-size: 0px;
  }
  .menu-btn {
    visibility: visible;
  }
  .dropdown {
    margin-left: auto;
  }
}
