body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.general {
  width: 80vw;
  margin-left: 10%;
  padding: 10px;
}

.w100p {
  width: 100%;
}

.navbarpadding {
  padding-top: 60px;
}
.flex-dir-hor {
  display: flex;
  flex-direction: row;
}
.flex-dir-ver {
  display: flex;
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-dir-h2v {
  display: flex;
  flex-direction: row !important;
}
.flex-dir-h2vr {
  display: flex;
  flex-direction: row !important;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.bold-mid {
  font-weight: 500 !important;
}
.bold-mid-x {
  font-weight: 600 !important;
}

.bold-none {
  font-weight: 400 !important;
}

.bold {
  font-weight: bolder !important;
}

.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}

.font-italic {
  font-style: italic;
}
.break-line {
  white-space: pre-line;
}

@media (max-width: 830px) {
  .flex-dir-h2v {
    flex-direction: column !important;
  }
  .flex-dir-h2vr {
    flex-direction: column-reverse !important;
  }
}
